<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/profile.css">
    <script src="/static/myscript.js"></script>
    <title>Amani Kashema | Full-Stack Developer</title>
</head>
<body>
     <!--logo-------->
     <div class="logo-section">
        <a href="index.html"><img class="logo" src="/static/images/resized logo" alt="logo"></a>
    </div>
    
    <div class="home-page">
    
   
    <!---Navigational Bar---->
    <a href="#" class="toggle-button" >
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="navbar">
        <ul>
            <li><a href="#about">About.</a></li>
            <li><a href="#projects_sec">Projects.</a></li>
            <li><a href="#contact">Contacts.</a></li>
            <li><a href="#testimonials">Testimonials.</a></li>
        </ul>
    </div>
   
   <!--section--->
   <div id="section">
       <h1>Hello,<br> I'm Amani Kashema.</h1>
       <p>I'm a Junior Developer specializing in Full Stack.</p>
   </div>

   <!--Social media icons-->
   <div class="social-icons">
           <div><a  href="#"><img class="pic1" src="/static/images/facebook.png" alt="Facebook"></a></div>
           <div><a  href="#"><img class="pic2" src="/static/images/linkedin2.png" alt="Linkedin"></a></div>
           <div><a  href="#"><img class="pic3" src="/static/images/github.png" alt="Github"></a></div>
   </div>
   </div>


   <!-------About Section-------->
   <div id="about" class="about-sec">
       <div class="text1">
        <h1>About Me</h1>
        <h2>I'm a passionate Full-stack Developer</h2><br>
        <p>I am a passionate, young, tech-minded individual with a keen eye for details. I have serious love for UI effects, animations and creating intuitive, dynamic user experiences on various web based application. I love solving problems and being creative. My personal belief is that one should never stop learning because that is where wisdom comes from. I have a passion for designing and developing web-based applications and will continue advancing in my career as a full-stack developer.
        When I'm not coding, tweeting or drinking cofee, you'll find me cooking, playing guitar or working out in the park..</p>
       </div>
      
       <img class="pic4" src="/static/images/me.jpg" alt="Amani Kashema">

    <!--------Skills Section------------------>
    <div class="skills">
        <h1>My Skills</h1>
        <div class="first_box">
            <div>
                <img class="icons" src="/static/images/html.png" alt="html">
                <h2>HTML</h2>
            </div>
            <div>
                <img class="icons" src="/static/images/css.png" alt="css">
                <h2>CSS</h2>
            </div>
            <div>
                <img class="icons" src="/static/images/js.png" alt="javascript">
                <h2>Javascript</h2>
            </div>
        </div>
        
        <div class="second_box">
            <div>
                <img class="icons" src="/static/images/python.png" alt="python">
                <h2>Python</h2>
            </div>
            
            <div>
                <img class="icons" src="/static/images/mysql.png" alt="mysql">
                <h2>Mysql</h2>
            </div>

            <div>
                <img class="icons" src="/static/images/bootstrap.png" alt="bootsrap">
                <h2>Bootsrap</h2>
            </div>
            
        </div>

        <div class="skill_level">
            <p>HTML</p>
            <div class="html">95%</div>
        </div>

        <div class="skill_level">
            <p>CSS</p>
            <div class="css">95%</div>
        </div>

        <div class="skill_level">
            <p>Javascript</p>
            <div class="javascript">80%</div>
        </div>

        <div class="skill_level">
            <p> Python</p>
            <div class="python">85%</div>
        </div>

        <div class="skill_level">
            <p>Mysql</p>
            <div class="javascript">80%</div>
        </div>

        <div class="skill_level">
            <p>Bootstrap</p>
            <div class="python">85%</div>
        </div>
    </div>

    <!------Project Section-------------->
    <div id= projects_sec class="projects">
        <h1>Projects</h1>
        <div class="projecto">
        <div class="project1"><a href="https://js-calculator12.netlify.app/"><img class="pic5" src="/static/images/calculator.png" alt="calculator"></a></a>
           <div class="overlay">
               <p class="text2">Calculator App<br> (Javascript Project)</p>
           </div>
        </div>
        <div class="project2"><a href="https://github.com/Amanikashema/Lotto-Game-Project"><img class="pic5" src="/static/images/lotto.jpg" alt="lotto"></a>
            <p class="text2">Lotto App <br> (python Project)</p>
        </div>
        <div class="project3"><a href="https://fashionswagger.netlify.app/"><img class="pic5" src="/static/images/swag.jpg" alt="swagger fashion"></a>
            <p class="text2"> Swagger Fashion Website <br> (python Project)</p>
        </div>
        </div>
        <div class="projecto1">
            <div class="project4"><a href="https://internationaltourguide.netlify.app/"><img class="pic5" src="/static/images/tourguide.jpg" alt="tourguide"></a>
                <p class="text2">Tour Guide Website</p>
            </div>
            <div class="project5"><a href="https://github.com/Amanikashema/python-excercise-1/blob/master/sound2.py"><img class="pic5" src="/static/images/mp3.jpg" alt="mp3"></a>
                <p class="text2">Music player App <br> (python Project)</p>
            </div>
            <div class="project6"><a href="https://github.com/Amanikashema/python-excercise-1/blob/master/Temperature_Converter.py"><img class="pic5" src="/static/images/temp.jpg" alt="temperature conveter"></a>
                <p class="text2">Temperature Converter App <br> (python Project)</p>
            </div>
        </div>       
        </div>
    </div>
    <br>
    <!----Testimonials Sectioin---->
    <div id="testimonials" class="test">
        <h1>Testimonials</h1>
        <div class="person">
            <div class="laeeqah">
                <img class="profile" src="/static/images/myprofile.jpg" alt="Laeeqah">
                <h3>Laeeqah Esau</h3>
                <p>Amani gets along with everyone around him. He is very outspoken and loves to laugh. He knows when to work and always gives in his projects on time. He is dedicated to his work and does it to his best ability to give you excellent results.</p>
            </div>

            <div class="laeeqah">
                <img class="profile" src="/static/images/Yusuf Salie (3).JPG" alt="Yusuf">
                <h3>Yusuf Salie</h3>
                <p>Amani is a hard working and dedicated individual. His enthusiasm to learn and hard working nature inspires others to do the same.</p>
            </div>

            <div class="laeeqah">
                <img class="profile" src="/static/images/My Post.png" alt="Sandile">
                <h3>Sandile Tukani</h3>
                <p>Amani is a focused young man, who does his best to finish his designated tasks. He does his best to ensure that he gets it right. Amani is calm and pleasant to work eith, as he finds the humour ven in difficult situations, and many times and again that comes in handy. Amani would certainly add value in an organization, as he is willing to learn and always asks questions.</p>
            </div>

            <div class="laeeqah">
                <img class="profile" src="/static/images/thapelo.jpeg" alt="Thapelo">
                <h3>Thapelo Tsotetsi</h3>
                <p>Amani gets along with everyone around him. He is very outspoken and loves to laugh. He knows when to work and always gives in his projects on time. He is dedicated to his work and does it to his best ability to give you excellent results.</p>
            </div>
           
        </div>
    </div>

    <!---Contact Form Section----->
    <div id="contact" class="contact-sec">
        <h1>Contact</h1>
        <form  action="/send_email" method="POST" class="form">
            <input class="fname" type="text" id="fname" name="First_name" placeholder="Name" required ><br>
            <input class="sname" type="text" id="lname" name="Last_name" placeholder="Surname" required><br>
            <input class="email" type="text" id="email" name="email" placeholder="Email" required><br>
            <textarea placeholder="Message" name="message" required></textarea><br>
            <input class="send" type="submit" value="send">
        </form>
    </div>

    <!-----Footer------>
    <div class="footer">
        <p>AMANI KASHEMA @2021</p>
        <div class="social">
            <div><a  href="#"><img class="pic1" src="/static/images/facebook.png" alt="Facebook"></a></div>
            <div><a  href="#"><img class="pic2" src="/static/images/linkedin2.png" alt="Linkedin"></a></div>
            <div><a  href="#"><img class="pic3" src="/static/images/github.png" alt="Github"></a></div>
    </div>
    </div>

</body>
</html>
